main {
  display: flex;
}

.section-baralho {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.lista-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
  width: 900px;
}

.lista-cartas .card {
  box-shadow: 1px 1px 20px black;
  margin-bottom: 2rem;
}

.box-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.box-card button {
  border: 1px solid;
  border-color: blue;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  height: 2rem;
  width: 10rem;
}

.box-card button:hover {
  box-shadow: 1px 1px 10px gray;
}

.container-filter h2 {
  color: #686868;
  margin-left: 4rem;
}

.filtro {
  width: 450px;
}

.filtro h1 {
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.filtros {
  height: 20rem;
  padding: 1rem;
  padding-left: 4rem;
}

.input-style {
  align-self: center;
  background-color: white;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0.25rem;
  color: rgb(33, 37, 41);
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.75rem;
  transition: border-color 0.15s ease-in-out , box-shadow 0.15s ease-in-out;
  width: 20.5rem;
}

.input-style:focus {
  background-color: white;
  border-color: lightgray;
  box-shadow: 0.1px 0.1px 10px #a7a7a7;
  color: rgb(33, 37, 41);
  outline: 0;
}

.trunfo-filter {
  margin-left: 0.5rem;
}
